service: ms-cart
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, 'api'}
  region: us-east-1
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:Query
            - dynamodb:GetItem
            - dynamodb:DeleteItem
          Resource:
            - Fn::GetAtt:
              - CKSCartsTable
              - Arn
            - Fn::Join:
              - ""
              - - Fn::GetAtt:
                  - CKSCartsTable
                  - Arn
                - "/index/customer_id_index"
            - Fn::Join:
              - ""
              - - Fn::GetAtt:
                  - CKSCartsTable
                  - Arn
                - "/index/expires_at_index"
        - Effect: Allow
          Action:
            - lambda:InvokeFunction
          Resource: "*"
  environment:
    REGION: ${self:provider.region}
    STAGE: ${self:provider.stage}

package:
  individually: true
  excludeDevDependencies: true
  exclude:
    - node_modules/@aws-sdk/**
    - node_modules/**/@aws-sdk/**

functions:
  openCart:
    handler: src/adapters/driver/lambda/open_cart.handler
    memorySize: 128
    events:
      - http:
          path: /v1/cart
          method: POST

  expireCarts:
    handler: src/adapters/driver/lambda/expire_carts.handler
    memorySize: 128
    events:
      # - schedule:
      #     rate: rate(1 hour)
      #     enabled: true
      - http:
          path: /v1/cart/expire
          method: POST

  addProductsToCart:
    handler: src/adapters/driver/lambda/add_products_to_cart.handler
    memorySize: 128
    events:
      - http:
          path: /v1/cart/{cart_id}/products
          method: POST

  removeProductsFromCart:
    handler: src/adapters/driver/lambda/remove_products_from_cart.handler
    memorySize: 128
    events:
      - http:
          path: /v1/cart/{cart_id}/products
          method: DELETE

  checkoutCart:
    handler: src/adapters/driver/lambda/checkout_cart.handler
    memorySize: 128
    events:
      - http:
          path: /v1/cart/{cart_id}/checkout
          method: POST

resources:
  Resources:
    CKSCartsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CKS.Carts
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: customer_id
            AttributeType: S
          - AttributeName: status
            AttributeType: S
          - AttributeName: expires_at
            AttributeType: N
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        GlobalSecondaryIndexes:
          - IndexName: customer_id_index
            KeySchema:
              - AttributeName: customer_id
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: expires_at_index
            KeySchema:
              - AttributeName: status
                KeyType: HASH
              - AttributeName: expires_at
                KeyType: RANGE
            Projection:
              ProjectionType: ALL

plugins:
  - serverless-esbuild
  - serverless-prune-plugin
  - serverless-localstack

custom:
  localstack:
    stages:
      - local
    host: http://localhost
    edgePort: 4566
    autostart: false
  esbuild:
    bundle: true
    minify: true
    target: node20